form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.search-input {
    padding: 3rem 1.5rem; /* Más alto */
    font-size: 1.2rem; /* Texto más grande */
    border: 1px solid #ccc;
    border-radius: 2rem;
    width: 400px; /* Más ancho */
    transition: all 0.3s ease;
}

.search-input:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.search-button {
    background-color: #3498db; /* Azul de fondo */
    border: none;
    padding: 12px; /* Tamaño adecuado para hacer el botón redondo */
    cursor: pointer;
    border-radius: 50%; /* Botón redondeado */
    transition: background-color 0.3s, transform 0.3s;
}

.search-button:hover {
    background-color: #2980b9; /* Azul más oscuro cuando pasa el mouse */
    transform: scale(1.1); /* Aumenta ligeramente el tamaño */
}

.search-button i {
    pointer-events: none;
}

.icono-lupa {
    width: 20px;
    height: 20px;
    fill: white; /* Ícono blanco para que contraste con el azul */
    transition: fill 0.3s, transform 0.3s; /* Transición suave en el color y el tamaño */
}

.search-button:hover .icono-lupa {
    fill: #f0f0f0; /* Ícono más claro cuando pasa el mouse */
    transform: rotate(360deg); /* Gira la lupa */
}

.search-button:hover .icono-lupa {
    fill: #FF7B1D; /* Color cuando pasa el mouse */
    transform: rotate(360deg); /* Gira la lupa */
}
